---
title: Documentation
description: Somebody had to write it
layout: default
---

<div class="container sidebar-parent">
  <div class="sidebar">
    <ul>
      {% for item in site.pages %}
      <li><a href="{{ item.permalink }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="sidebar-content page">
    <div class="page-header">
      <h1 class="title">{{ page.title }}</h1>
    </div>

    <div class="page-content">
      {{ page.content }}
    </div>
  </div>
</div>
